*, *::before, *::after{
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

.container{
    margin: auto 16rem ;
    display: grid;
    grid-template-columns: repeat(9, 10%) ;
    grid-template-rows: auto;
    grid-column-gap: 1.25rem;
}

.header{
    grid-column: 1/span 6;
}

.header_item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_items--link{
    text-decoration: none;
    color: var(--colorBlack);
    font-size: var(--text);
}

/* navragen
.empty {
    grid-column: 7 / 26;
    background-color: var(--BGcolorLightBlue);
} */