
.payment_header_container{
    grid-column: 1 / 5;
    font-size: 18rem;
    height: 90.37vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_rotate{
    transform: rotate(-90deg);
}

.title_big_payment{
    margin: 0rem;
    font-size: 34rem;
}

.header_sub_payment{
    text-align: center;
}

.payment_form{
    grid-column: 5 / 10;
    margin-left: 2rem;
    border-left: .1rem solid;
    height: max-content;
    display: flex;
    align-self: center;
    justify-content: center;
}


input[type=text] {
    width: 100%;
  background-color: #F6FAFF;
  margin-bottom: 1rem;
  padding: 1.9rem 1.3rem;
  border: none;
  border-radius: 0.3125rem;
}

input[type=tel] {
        width: 100%;
  background-color: #F6FAFF;
  margin-bottom: 1rem;
  padding: 1.9rem 1.3rem;
  border: none;
  border-radius: 0.3125rem;
}

input[type=email] {
        width: 100%;
  background-color: #F6FAFF;
  margin-bottom: 1rem;
  padding: 1.9rem 1.3rem;
  border: none;
  border-radius: 0.3125rem;
}

.field_flex{
    display: flex;
    align-items: baseline;
}

.label{
    margin-right: 2rem;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.235rem;
}

.label_adres{
    margin-top: 1rem;
}

.adress_place{
    grid-row: 1;
    grid-column: 1 / 5 ;
}

.adress_street{
    grid-row: 2;
    grid-column:  1 / 3;
}

.adress_number{
    grid-row: 2;
    grid-column:  3;
}

.adress_bus{
    grid-row: 2;
    grid-column: 4; 
}

.wrapper_adr{
    display: flex;
}

.form_payment{
    margin: auto 11rem;
}